<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet"
          href="{{ mix src='css/tailwind.css' }}">
</head>
<body
    class="flex flex-col min-h-screen"
    x-data="{ mobileNavIsOpen: false }"

>
    <header class="">
        {{ partial:nav/utility }}
        {{ partial:nav/main-nav }}
    </header>

    <main class="bg-black flex justify-center items-center flex-1">
        <section class="flex flex-col gap-2 font-sans text-white max-w-prose px-4 py-32">
            <h1 class="text-3xl font-bold">
                MiiR is doing amazing things.
            </h1>
            <p class="text-xl">
                I'm David Lindahl, Front End Developer and I want to help.
            </p>
            <p>
                I love crafting beautiful digital experiences and have done so for 5+ years for internal products and external clients.
            </p>
            <p>
                Prior websites I've worked on include:
            </p>
            <div class="prose prose-ul:text-white prose-li:text-white">
                <ul class="">
                    <li>
                        A new from scratch website for the rebrand of Product Hunt's #1 upvoted product of 2021 (Sprig.com)
                    </li>
                    <li>
                        A brand new website for the biggest PHP news site (Laravel-News.com)
                    </li>
                    <li>
                        The COVID Awareness website for the Ad Council which was featured in Nationally Televised Ad Campaigns
                        (getvaccineanswers.org/)
                    </li>
                </ul>
            </div>
            <p>
                Also I eat, sleep, and drink Shopify (and in my sparetime run my own Shopify storefront that donates from every purchase - inspired by MiiR).
            </p>
        </section>
    </main>

    <script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>
