<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet"
          href="{{ mix src='css/tailwind.css' }}">
</head>
<body
    class="flex flex-col min-h-screen"
    x-data="{ mobileNavIsOpen: false }"

>
    <header class="">
        {{ partial:nav/utility }}
        {{ partial:nav/main-nav }}
    </header>

    <main class="bg-black w-full flex-1 mx-auto max-w-screen-xl">
        <section class="flex justify-center items-center ">
            <div class="flex flex-col gap-2 font-sans text-white max-w-prose px-4 py-32 prose prose-p:text-white prose-headings:text-white prose-li:text-white prose-a:text-white prose-p:mb-0 prose-p:mt-2 hover:prose-a:text-gray-300">
                {{ content }}
            </div>
        </section>
    </main>

    <script src="{{ mix src='/js/site.js' }}"></script>
</body>
</html>
