<div class="bg-black">
    <div class="mx-auto max-w-screen-xl">
        <ul class="flex items-center justify-center py-1 md:py-2.5 max-w-screen-xl px-2 md:px-4">
            {{ nav:top_nav }}
                <li>
                    <a class="text-gray-200 font-sans text-xs tracking-wide hover:text-gray-50 duration-200 ease-in transition-colors hover:underline"
                        href="{{ url }}">
                        {{ title }}
                    </a>
                </li>
            {{ /nav:top_nav }}
        </ul>
    </div>
</div>
