<li class="flex flex-col md:flex-row justify-between md:justify-start px-3 py-3">
    <button
        class="inline-flex gap-2 items-center text-black hover:text-gray-500 duration-100 ease-in transition-colors"
        @click.prevent="navDropdownIsOpen = (navDropdownIsOpen === '{{ dropdown_parent_title }}' ? false : '{{ dropdown_parent_title }}')"
        @keyup.escape.window="navDropdownIsOpen = false"
    >
        <span class="font-semibold">
            {{ dropdown_parent_title }}
        </span>
        <template x-if="navDropdownIsOpen == '{{ dropdown_parent_title}}'">
            {{ svg src="phosphoricons/caret-down" class="h-4 fill-current" }}
        </template>
        <template x-if="navDropdownIsOpen !== '{{ dropdown_parent_title}}'">
            {{ svg src="phosphoricons/caret-up" class="h-4 fill-current" }}
        </template>
    </button>

    {{# DROPDOWN #}}
    <div class="md:absolute md:bottom-0 left-0 md:translate-y-full md:shadow-md p-2 md:p-4 w-full z-20 bg-white"
        x-show="navDropdownIsOpen == '{{ dropdown_parent_title }}'"
        x-cloak
        x-collapse>
        <ul class="grid grid-cols-2 gap-2 justify-center">
        {{ featured_products }}
            <li class="inline-flex w-full">
                {{ partial:product_card }}
            </li>
            {{ /featured_products }}
        </ul>
    </div>
</li>
